.App {
  text-align: center;
}
#NavMenu {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

p {
  padding: 4px;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
}
